{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="col-md-9 right-content pd-r0 pd-l0">
    <!--Contact Tab-->
    <section id="resume" class="bg-white t-center">
        <!--Resume-->
        <div class="resume">
            <!--Content-->
            <div class="content">
                <!--Block content-->
                <div class="block-content mb-100">
                    <!--Row-->
                    <div class="row">
                        <div class="col-md-12  ">
                            <div class="main-title">
                                <h1 class="mb-20">Fun Fact</h1>
                                <h5 class="uppercase">Apps are like burgers. They've got layers." - Shrek(rumored)</h5>
                            </div>
                        </div>
                    </div>
                    <!--End row-->
                </div>
                <!--End block content-->
                <!--Block content-->
                <div class="block-content mb-100  pb-30">
                    <!--Row-->
                    <div class="row">
                        <div class="col-md-12  ">
                            <div class="sub-title mb-40">
                                <h2 class="uppercase">programming Skills</h2>
                            </div>
                        </div>
                    </div>
                    <!--End row-->
                    <!--Row-->
                    <div class="row">
                        <div class="col-md-12  ">
                            <!--Listing-->
                            <div class="listing-large mt-40">
                                <div class="listing-large-inner">
                                    <div class="listing-event">
                                        <ul class="data left clearfix">
                                            <li>
                                                <h5>Html5</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>Css3</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>Python</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>Javascript</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>React</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>Git</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>AWS</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>OAuth</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>PostgresSQL</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>Django</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>Restful Api</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                            <li>
                                                <h5>React Native</h5>
                                                <div class="rating">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="data right clearfix">
                                            <li>
                                                <h5>Assests</h5>
                                                <p class="emph-3">Responsible, Diligence, Labour, Rigor, Creative, Funny, Great Communicator, Flexible</p>
                                            </li>
                                            <li>
                                                <h5>Languages</h5>
                                                <ul>
                                                    <li class="emph-1">Python<span class="emph-4"></span></li>
                                                    <li class="emph-1"> JavaScript <span class="emph-4"></span></li>
                                                    <li class="emph-1">C#<span class="emph-4"></span></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <h5>Hobbies &amp; Interests</h5>
                                                <ul class="hb-list">
                                                    <li>
                                                        <span><i class="icon-music-4"></i></span>
                                                        <h6>Music</h6>
                                                    </li>
                                                    <li>
                                                        <span><i class="icon-star-7"></i></span>
                                                        <h6>Gaming</h6>
                                                    </li>
                                                    <li>
                                                        <span><i class="icon-globe-6"></i></span>
                                                        <h6>Travel</h6>
                                                    </li>
                                                    <li>
                                                        <span><i class="icon-food-1"></i></span>
                                                        <h6>Cooking</h6>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End listing-->
                        </div>
                        
                    </div>
                    
                    <!--End row-->
                </div>
                <!--End block content-->
                <!--Block content-->
                <div class="block-content">
                    <!--Row-->
                    <div class="row">
                        <div class="col-md-12">
                            <span class="page-number emph-1">- 2/4 -</span>
                        </div>
                    </div>
                    <!--End row-->
                </div>
            </div>
        </div>        
    </section>

</div>            
{% include 'includes/footer.html' %}

{% endblock %}