{% load static %}


<!--Footer-->
<div id="wrapper" class="mt-1 mb-150">
  <footer class="footer ">

    <div class="col-md-1 pd-l0">

    <!--Social-->					
    <ul class="social">
      <li><a href="https://drive.google.com/file/d/1a4U4zWvKyGnaNtxjfxexFOyybaGYkHO0/view?usp=sharing"><i class="icon-folder"></i></a></li>
      <li><a href="https://github.com/ChristyThomas95"><i class="icon-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/christy95/"><i class="icon-linkedin"></i></a></li>
    </ul>
    <!--End social-->	
    
    <!--Copyright-->		
    <div class="copyright">
    <p>© 2023 ChristyThomas.</p>
    </div>
    <!--End copyright-->		

  </div>

  </footer>
</div>  
  <!--End footer-->