{% load static %}
<!--Main header-->
<div class="main-header">
					
  <!--Profile image-->
  <div id="wrapper" class="mt-150 mb-150">
	
    <!--Container-->
    <div class="container">
      
        <!--Row-->	
        <div class="row ">
      
      <!--Left content-->
      <div class="col-md-2 left-content pd-r0">
    
    <!--Header-->
    <header id="header">
  
            <!--Main header-->
            <div class="main-header">
            
            <!--Profile image-->
            <div class="img-profile">
              
              <div class="name-profile t-center">
                <h5 class="uppercase">Christy Thomas</h5>
              </div>
              
            </div>
            <!--End profile image-->
                    
            <!--Main navigation-->
              <nav id="main-nav" class="main-nav clearfix t-center uppercase tabbed">
  
              <ul class="clearfix">
                <li><a  href="{% url 'home' %}"><i class="icon-user"></i>About me<span>Who am i </span></a></li>
                <li><a  href="{% url 'skills' %}"><i class="icon-briefcase"></i>Skills<span>Programming Skills</span></a></li>
                <li><a  href="{% url 'projects' %}"><i class="icon-desktop-3"></i>Projects<span>my works</span></a></li>
                <li><a  href="{% url 'contact' %}"><i class="icon-phone"></i>Contact<span>Say hello</span></a></li>
              </ul>
  
              </nav>
            <!--End main navigation-->
                
          </div>
          <!--End main header-->
          
      </header>
      <!--End  header-->
      
      
      </div>
      <!--End left content-->