{% extends 'base.html'%}
{% load static %}

{% block content %}
	<!--Right content-->
	<div class="col-md-9 right-content pd-r0 pd-l0">
	    <!--About Tab-->
	    <section id="about" class="bg-white t-center">
	        <!--About -->
	        <div class="about">
	            <!--Content-->
	            <div class="content">
	                <!--Block content-->
	                <div class="block-content mb-100">
	                    <!--Row-->
	                    <div class="row">
	                        <div class="col-md-12  ">
	                            <div class="main-title profile">
	                                <h1 class="mb-20">Christy Thomas</h1>
	                                <h3>Full Stack Developer</h3>
	                            </div>
	                        </div>
	                    </div>
	                    <!--End row-->
	                </div>
	                <!--End block content-->
	                <!--Block content-->
	                <div class="block-content mb-100">
	                    <!--Row-->
	                    <div class="row">
	                        <div class="col-md-12  ">
	                            <div class="sub-title mb-40">
	                                <h2 class="uppercase">About Me</h2>
	                            </div>
	                        </div>
	                    </div>
	                    <!--End row-->
	                    <p class="lead-intro">As a lifelong learner,  I have always wanted to learn how to code and how apps work. But I never got the opportunity or someone to guide me on how to do it. 
							Then I leaped to do a boot camp, and suddenly I was like, wait for a second, what am I doing? I had never felt that way about any work I had done before. It was like a puzzle.
							 Growing up, I loved logic puzzles, 
							 so this was like a version where I got to build something at the end. 
							 I quickly absorbed new concepts while bringing ambitious ideas and a positive attitude to every challenge.</P></p>
	                    <img class="signature mt-20" src="img/signature.png" alt="">
	                </div>
	                <!--End block content-->
	                <!--Block content-->
	                <div class="block-content mb-100 pb-30">
	                    <!--Row-->
	                    <div class="row">
	                        <div class="col-md-12  ">
	                            <div class="sub-title mb-40">
	                                <h2 class="uppercase">Personal Info</h2>
	                            </div>
	                        </div>
	                    </div>
	                    <!--End row-->
	                    <div class="row">
	                        <div class="col-md-8 col-md-offset-3  col-sm-8 col-sm-offset-3 ">
	                            <!--Listing-->
	                            <div class="listing mt-40">
	                                <div class="listing-inner">
	                                    <div class="listing-event">
	                                        <ul class="data left">
												<li class="emph-1">Name</li>
												<li class="emph-1">Email</li>
												<li class="emph-1">Contact</li>
												<li class="emph-1">Location</li>
	                                        </ul>
	                                        <ul class="data right">
	                                            <li>Christy Thomas</li>
												<li>Christythomas.95@outlook.com</li>
												<li>+1 250-682-8717</li>
												<li>Canada</li>

	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                            <!--End listing-->
	                        </div>
	                    </div>
	                </div>
	                <!--End block content-->
	                <!--Block content-->
	                <div class="block-content mb-100  pb-30">
	                    <!--Row-->
	                    <div class="row">
	                        <div class="col-md-12  ">
	                            <div class="sub-title mb-40">
	                                <h2 class="uppercase">Contact Info</h2>
	                            </div>
	                        </div>
	                    </div>
	                    <!--End row-->
	                    <!--Row-->
	                    <div class="row">
	                        <div class="col-md-8 col-md-offset-3  col-sm-8 col-sm-offset-3 ">
	                            <!--Listing-->
	                            <div class="listing mt-40">
	                                <a class="uppercase emph-1 btn-1" href="https://drive.google.com/file/d/1a4U4zWvKyGnaNtxjfxexFOyybaGYkHO0/view?usp=sharing">Download my cv</a>
	                                <a class="uppercase emph-1 btn-2" href="https://drive.google.com/file/d/1a4U4zWvKyGnaNtxjfxexFOyybaGYkHO0/view?usp=sharing">Print My resume</a>
	                                <div class="listing-inner">
	                                    <div class="listing-event">
	                                        <ul class="data left">
												<li><span class="emph-1">Adress</span> :<br>
													Christy Thomas
													895 University Drive, Kamloops, V2C0J6 British Columbia</li>
	                                        </ul>
	                                        <ul class="data right">
												<li><span class="emph-1">E-Mail</span> : Christythomas.95@outlook.com</li>
												<li><span class="emph-1">Github</span> : ChristyThomas95</li>
												<li><span class="emph-1">Phone</span> : + 250 682 8717 </li>
												<li><span class="emph-1">linkedin</span> : Christy Thomas</li>
											</ul>
	                                    </div>
	                                </div>
	                            </div>
	                            <!--End listing-->
	                        </div>
	                    </div>
	                    <!--End row-->
	                </div>
	                <!--End block content-->
	                <!--Block content-->
	                <div class="block-content mb-100">
	                    <!--Row-->
	                    
	                    <!--End row-->
	                    <!--Row-->
	                    <div class="row">
	                        <div class="col-md-12">
	                            <ul class="insta-Feed" id="instafeed"></ul>
	                        </div>
	                    </div>
	                    <!--End row-->
	                </div>
	                <!--End block content-->
	                <!--Block content-->
	                <div class="block-content">
	                    <!--Row-->
	                    <div class="row">
	                        <div class="col-md-12">
	                            <span class="page-number emph-1">- 1/4 -</span>
	                        </div>
	                    </div>
	                    <!--End row-->
	                </div>
	                <!--End block content-->
	            </div>
	            <!--End content-->
	        </div>
	        <!--End about-->
	    </section>
	</div>			
{% include 'includes/footer.html' %}
	
{% endblock %}						
			